@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.parallax{
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100;
}
  
.parallax img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ol li{
  list-style-type: upper-alpha;
}
@media only screen and (max-width: 768px) {
  
  body{
      overflow-x: hidden;
  }
  
  .parallax img{
      height: 100vh;
      width: 100vw;
      scale: 0.75;
  }
}